.accessButton {
	background-color: #9f15ae;
	color: #ffffff;
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	border-radius: 4px;
}

.accessButton:hover {
	background-color: #80118c;
}

.unblockButton {
	background-color: #0bd834;
	color: #ffffff;
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	border-radius: 4px;
}

.unblockButton:hover {
	background-color: #0d9114;
}

.deleteButton {
	background-color: #f44336;
	color: #ffffff;
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	border-radius: 4px;
}

.deleteButton:hover {
	background-color: #d32f2f;
}
