.table {
	width: 100% !important;
	border-collapse: collapse;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 10px rgba(111, 111, 111, 0.15);
}

.table th,
.table td {
	padding: 8px;
	text-align: left;
	border: 1px solid #ccc;
	align-content: center;
	&.checkbox-cell {
		width: 60px;
		text-align: center;
		input[type='checkbox'] {
			width: 20px;
			height: 20px;
		}
	}
}

.table th {
	background-color: #f4f4f4 !important;
}

.header-cell {
	vertical-align: super;
}
