.table-container {
	margin: auto;
	width: 80%;
	margin-top: 40px;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table th,
.table td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.table th {
	background-color: #f2f2f2;
}

.button-container {
	margin-top: 10px;
}
